<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>List Product</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    function addToCard(btn) {
        btn.parentNode.parentNode.className = "selected";
        var _id = $("tr.selected td:first").html().replace(/\s+/g, '');
        $.ajax({
            dataType: 'text',
            type: 'POST',
            url: '/cart',
            data: { productId: _id },
            error: function(res) {
                btn.parentNode.parentNode.className = "";
            },
            success: function(res) {
                // Do something with the result
                var json = JSON.parse(res);
                var totalCount = 0;
                var id;
                for (id in json) {
                    totalCount += json[id].qty;
                }
                document.getElementById("total-count").innerHTML = totalCount;
                btn.parentNode.parentNode.className = "";
            }
        });
    }

    function deleteFromCard(btn) {
        btn.parentNode.parentNode.className = "selected";
        var id = $("tr.selected td:first").html();
        $.ajax({
            url: './list/' + id,
            type: 'DELETE',
            success: function(res) {
                // Do something with the result

                var json = JSON.parse(res);
                consolse.log(json[0].name);
            }
        });
        btn.parentNode.parentNode.className = "";
    }

    function search(name) {
        if (name != '') {
            $.ajax({
                type: 'GET',
                url: '/list/' + name,
                success: function(res) {
                    console.log(res.length);
                    var str = '';
                    for (var i = 0; i < res.length; i++) {
                        str += '<tr><td>' + res[i].id + '</td>';
                        str += '<td>' + res[i].name + '</td>';
                        str += '<td>' + res[i].description + '</td>';
                        str += '<td>' + res[i].price + '</td>';
                        str += '<td><button class="add-to-cart btn btn-primary" onclick="addToCard(this)">Add to card</button></td></tr>';
                    }
                    $('tbody').empty().append(str);

                }
            });
        } else
            location.reload();

    }
    </script>
</head>

<body>
    <div class="generic-container">
        <div class="row">
            Search<input type="search" name="search" id="search" onkeyup="search(this.value)"></input>
            <div class="panel-heading col-xs-10 col-md-11"><span class="lead">List of Documents </span></div>
            <div class="col-xs-8 col-md-1">
                <a class="btn btn-primary" data-toggle="modal" href="/cart">Cart (<span id="total-count">
                        <% if (typeof total !== 'undefined') {%>
                        <%= total%>
                        <% }%></span>)</a>
            </div>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover" id="table">
                <thead>
                    <tr id="1">
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (typeof data !== 'undefined') {%>
                        <%for(var i=0; i < data.length; i++) { %>
                            <tr>
                                <td>
                                    <%=    data[i].id %>
                                </td>
                                <td>
                                    <%=    data[i].name %>
                                </td>
                                <td>
                                    <%=    data[i].description %>
                                </td>
                                <td>
                                    <%=    data[i].price %>
                                </td>
                                <td>
                                    <button class="add-to-cart btn btn-primary" onclick="addToCard(this)">Add to card</button>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
            <a href="/products" class="btn btn-warning">New</a>
        </div>
    </div>
    </div>
    <p style="color: red;">
        <% if (typeof errMes !== 'undefined') {%>
            +errMes%>
            <% }%>
    </p>
</body>

</html>